<% provide(:title, 'Home') %>
<h1> 
<h2 class="description">Store, Share & Find Handy Code Snippets </h2>
<p class="join"><%= link_to "Sign Up", new_user_registration_path %></p>

<section id="summary"> 
	<div class="content_wrap">
		<figure id="sample">
		<div class="slide_wrap">
			<section id="one" class="slide">
					<div class="column_sample left"> 
						<div class="mock_image"> <img src="/assets/tiger.png"></div>
						<h6>About</h6>
						<p class="side_sample"> Hey, I'm a Front-End Developer @ Gin Lane Media </p>
						<h6>Following</h6>
						<p class="side_sample">64 Coders </p>
						<h6>Tags</h6>
					</div>
					<div class="column_sample right">
						<h5>John Bro</h5>
						<article class="sample_post">
						<p> jQuery snippet to scroll smoothly to the top of a page</p> 
						</article>

						<article class="sample_post">
						<p> D3.js + Canvas snippet for creating dynamic bar graphs</p> 
						</article>
						<article class="sample_post">
						<p> CSS3 hover effect for overlaying captions on hover.</p> 
						</article>
					</div>
				</section><!--END SLIDE ONE -->

				<section id="two" class="slide">
					<div class="column_sample left"> 
						<div class="mock_image"> <img src="/assets/tiger.png"></div>
						<h6>About</h6>
						<p class="side_sample"> Change this up yo </p>
						<h6>Following</h6>
						<h6>Tags</h6>
					</div>
					<div class="column_sample right">
						<h5>John Bro</h5>
						<article class="sample_post">
						<p> jQuery snippet to scroll smoothly to the top of a page</p> 
						</article>
						<article class="sample_post">
						<p> D3.js + Canvas snippet for creating dynamic bar graphs</p> 
						</article>
						<article class="sample_post">
						<p> CSS3 hover effect for overlaying captions on hover.</p> 
						</article>
					</div>
				</section> <!--END SLIDE -->
			</div><!--END SLIDE WRAP -->
	<nav class="slide_thumbs"> 
<ul>
	<li> <a href="#one"></a></li>
	<li> <a href="#two"></a></li>
	<li> <a href="#three"></a> </li>
</ul>
</nav>
</figure>
<aside id="sample_text">
<h3 class="home_explain"> Snip-Mark makes good code easy to store & find. </h3>
<p>Store snippets of code for easy re-use in one central, convenient location. </p>
<p> Describe your snippets for easy recall.</p>
<p> Share code bits with friends and colleagues. </p>
<p> Follow topics and other users who contribute rad code. </p>
<p> Find helpful code quickly </p>
	</aside>
	<div style="clear:both">
</div>
 </section>
 <section id="home_more">
 <p class="helper"> More Questions?</p>
 <p class="join"> <%= link_to "More Info", about_path %> </p>
 <p class="helper border">THIS IS A DEMO RUBY ON RAILS APP CREATED FOR GA BY ANDREW SEIDLER</p>
  <p class="helper border half">EMAIL ME</p>
 <p>
ß</section>
