<div class="content_wrap show_page">

<p>
<h3 class="post"> Batch Description<h3>
 <div class="post_content">
  <%= @post.description %>
</div>
<h3 class="post"> Ingredients </h3>
  <div class="post_content">
  <%= @post.tag_list %>
</div>
<div class="post_content">
<textarea ace-editor="" ace-theme="solarized_light" ace-mode="javascript">
  <%= @post.content %>
</textarea>

</div>

<div class="post_content">
	<pre class="prettyprint">
		<textarea ace-editor="" ace-theme="solarized_light" ace-mode="javascript">
  <%= @post.css %>
  </textarea>
</pre>
</div>
<h3 class="post">Notes</h3>
<p>
  <b>Content:</b>

</p>

<% if user_signed_in? %>

<% end %>
</div>