/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */

 ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #414042;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #414042;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #414042;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #414042;
}

figure#sample {background: url(/assets/macbook.png) no-repeat; height: 300px; padding: 40px 50px 40px 50px; float:left; width: 540px; margin: 10px;}

article.sample_post:after  {  content: url("/assets/home_arrow.png"); height: 13px; position: absolute; right: 10px; top: 16px; width: 10px;}

.upload_fixer {position: relative;}

form#new_user input[type="file"], form#edit_user input[type="file"]  {
position: relative;
	text-align: left;
	-moz-opacity:0 ;
	opacity: 0;
	z-index: 2;
	width: 200px;
	height: 40px;
}
form#new_user input[type="file"]:hover, form#edit_user input[type="file"]:hover {cursor: pointer;}

.file_input {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
.file_input:hover {cursor: pointer;}
.file_input b {color: #6D6E71; text-transform: uppercase; letter-spacing: 1px;}
.file_input img:hover {cursor: pointer;}
