@import "bootstrap";


$background: #58595B;
$snippetcolor: #CCCCCC;
$lightgray: #939598;
$darkgray: #414042;
$greyborder: solid 1px #F3F4F4;
$lightborder: solid 1px #58595B;
$mediumgray: #808285;
$greenbutton: #90D1C0;
$buttonpadding: 10px 30px;
$hoverorange: #F89C57; 
$brandon: "brandon-grotesque",sans-serif;
$fieldblue: #919BA6;
$code: "ubuntu-mono",sans-serif;
$proxima: "proxima-nova-soft",sans-serif;
$offwhite: #F5F4F1;
$label_blue: #747D94;


@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($property, $duration, $ms: false) {
    -webkit-transition: $property $duration ease-in-out;
    -moz-transition: $property $duration ease-in-out;
    -o-transition: $property $duration ease-in-out;
    @if ($ms) {
        -ms-transition: $property $duration ease-in-out;
    }
    transition: $property $duration ease-in-out;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}
$shadows: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 0px 1px #ddd inset;
$buttonshadows: 0 2px 2px rgba(0, 0, 0, 0.55), 0 0 6px #ddd inset;
$switchshadows: 0 2px 2px rgba(0, 0, 0, 0.25), 0 0 2px #DDDDDD inset;

html, body {height: 100%;}
h1.title {text-align: center; padding-top: 10px; padding-bottom: 10px; font-size: 1.8em;}

h2.page_title {text-align: center; font-size: 1.4em;}
h2.main {color: $mediumgray; font-size: 1.4em; width: 480px; margin: 15px auto; text-transform: uppercase; letter-spacing: 1px;}
nav#main { width: 100%; border-bottom: 1px solid #ddd; 
	ul {list-style: none;
		 li {display: inline; padding: 10px;
			a {color: #000;
			}
		}
	}
}

	
body {font-family: "brandon-grotesque",sans-serif;}
.container {width: 100%;}
.content_wrap {width: 1040px; margin: 0 auto;}
.content_wrap.show_page {height: 93%;}
.alert {background: none; border: none;}
.status {color: #999999; position: absolute; top: 22px; right: 22px; font-size: .9em; text-transform: uppercase;}


//green_button
p.join {text-align: center; margin-top: 4em; margin-bottom: 4em;
 a {background: $greenbutton; color: $darkgray; padding: $buttonpadding; font-family: $brandon; font-size: 1.4em; letter-spacing: 1px; font-weight: 600; text-transform: uppercase; @include border-radius(3px);
 &:hover { background: $hoverorange; color: #fff; text-decoration: none; }
 }
}

p.join.batch_link {text-align: left; padding-left: 50px; margin-top: 3.5em; margin-bottom: 3.5em;}
section#left_column p.join {text-align: left;}
p.edit {text-transform: uppercase; letter-spacing: 1px; padding-top: 10px; font-weight: 600;
a {color: $mediumgray; }
}

p.notice, p.alert {position: absolute; top: 65px; text-align: right; right: 10px; color: $lightgray;}

//Page Split - User Pages

h3.user_name {color: $mediumgray; font-size: 2.4em; text-shadow: 1px 1px 1px #fff; padding: 20px 0 20px 0; text-transform: uppercase; letter-spacing: 1px; border-bottom: $greyborder; font-family: $proxima; font-weight: 400;}
h3.user_name.right {padding-left: 50px;}
section#left_column {width: 300px; float: left;}
section#right_column {width: 739px; float: left; border-left: $greyborder; min-height: 100%; position: relative;}
p.user_label {color: $mediumgray; font-size: 1em; padding: 1px 0 1px 0; text-transform: uppercase; font-weight: 600; letter-spacing: 1px; margin: 5px 0;}
p.top_label { color: $mediumgray; font-size: 1em; letter-spacing: 1px; font-weight: 600; padding-bottom: 0; margin-bottom: 2px; text-transform: uppercase;}
p.top_number { font-family: $code; font-size: 1em; color: $fieldblue;}
.profile_field { margin: 10px 0; padding: 5px; width: 255px; border:none; color: #ADB8BF; height: 19px; margin: 0; border-radius: 0; font-family: $brandon; @include box-shadow($shadows) }
figure.profile {padding: 0; margin: 30px 0; width: 120px; float: left; margin-right: 20px; }
figure.profile img {width: 120px; height: 120px; box-shadow: 0 0 2px #ddd; }
.post_count {width: 130px; float: left; margin-top: 30px; }

// Articles
section.batches {padding-left: 50px; margin-top: 30px; }
article.batch {width: 85%; margin: 20px 0;; padding: 10px; background: #F7F8F9;}

//Devise Links
.status a, .status, .links a  { color: $offwhite; letter-spacing: 1px; font-weight: 600; text-transform: uppercase;}

//Sign Up Forms
form#new_user, form#edit_user {width: 480px; margin: 2em auto;}
form#new_user input, form#new_user textarea, form#new_user select, .uneditable-input, form#edit_user input, form#edit_user textarea, form#edit_user select   {width: 480px; background: $mediumgray; border: none; color: $darkgray; font-weight: 600;}
form#new_user input[type="submit"], form#edit_user input[type="submit"] { text-align: center; margin: 2em auto; width: 160px; display: block; padding: 6px 60px; background: $greenbutton; font-size: 1.4em; text-transform: uppercase; font-family: $brandon; color: $darkgray; border-radius: none; font-weight: 600;}
form#new_user input:focus, form#edit_user input:focus {box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(255, 255, 255, 0.3); background: $lightgray;}
form#new_user label, form#edit_user label {font-family: $brandon; color: $mediumgray; letter-spacing: 1px; text-transform: uppercase; font-weight: 600;}
form#new_user input#user_avatar, form#edit_user input#user_avatar  {background: #fff;}
//Post Pages
ul.tag_list_main {list-style: none; margin-left: 0; margin-top: 30px;
li { font-size: 1em; line-height: 1.4em;
	b { color: $fieldblue; font-family: $code; font-size: .9em; padding-left: 10px;}
	a {text-transform: uppercase; letter-spacing: 1px; color: $mediumgray; text-decoration: none; font-weight: 600; }

	}
}

//Index Post Pages

article.snippet {color: $label_blue; margin-bottom: 30px; position: relative; }
.snippet_wrap { padding: 10px 10px 0 10px; border-radius: 4px; border: 1px solid #ddd; @include box-shadow($shadows); }
.snippet_wrap:hover {@include transition (all, .8s);}
p.avatar {float: left; width: 25px;}
p.username {float: left; margin-left: 10px; color: $mediumgray; text-transform: uppercase; font-weight: 600; letter-spacing: 1px; font-size: .9em;}
.ingredients { border-top: solid 1px #EAEAE5; }
.heading { color: $label_blue; text-transform: uppercase; float: left; width: 100px; border-right: 1px solid #EAEAE5; padding: 5px; font-size: .8em; font-weight: 600; letter-spacing: 1px; }
.tag_list {float: left; width: 500px; color: $label_blue; padding-left: 20px; padding-top: 5px; padding-bottom: 5px; }
.tag_list a {margin-left: 10px; text-transform: uppercase; font-family: $code; color: $label_blue;}

.user_wrap {border-bottom: 1px solid #EAEAE5 }
.index_post {  padding: 10px; }

.saving {margin-left: 30px; color: #808285; text-transform: uppercase; position: absolute; top: 10px; right: 20px;
a { color: #808285; font-family: $brandon;
}
}
.saving span { display: inline-block; margin-right: 5px; margin-top: 4px;}


//User Page Posts
article.snippet a .index_post, .snippet_wrap a .index_post { color: $fieldblue; font-size: .9em; font-family: $brandon;}

body.user_layout .snippet_wrap {margin-bottom: 20px;}
body.user_layout p.join a {color: $offwhite;}
// ICONS
#grid, #list_view {height: 33px; width: 33px; @include border-radius(3px); @include box-shadow($switchshadows); position: absolute; top: 15px; }
#grid:hover, #list_view:hover {opacity: 0.8; cursor: pointer;}
#list_view {right: 0px;}
#grid {right: 40px;}


///Devise Links
body.devise .status a, .status, .links a, a  {color: $mediumgray; text-transform: uppercase; font-weight: 600;}