// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$label_grey: #939598;
$form_white: #ffffff;
$dark_grey: #414042;
$brandon: "brandon-grotesque",sans-serif;
$code: "ubuntu-mono",sans-serif;
$lightblue: #E5E8E9;
$fieldblue: #919BA6;
$mediumgray: #808285;
$background: #58595B;
$lightgray: #939598;
$label_blue: #747D94;
$proxima: "proxima-nova-soft",sans-serif;
$greenbutton: #90D1C0;
$buttonpadding: 10px 30px;
$offwhite: #F5F4F1;

@mixin gradient($from, $to, $height) {
    background-color: $to;
 
    background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -moz-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
    background-image: -ms-linear-gradient($from, $to);
    background-image: linear-gradient($from, $to);
 
 -webkit-background-size: 100% $height;
    -moz-background-size: 100% $height;
    -o-background-size: 100% $height;
    background-size: 100% $height;
}

@mixin transition($property, $duration, $ms: false) {
    -webkit-transition: $property $duration ease-in-out;
    -moz-transition: $property $duration ease-in-out;
    -o-transition: $property $duration ease-in-out;
    @if ($ms) {
        -ms-transition: $property $duration ease-in-out;
    }
    transition: $property $duration ease-in-out;
}

@mixin placeholder ($placeholder_text) {
::-webkit-input-placeholder { /* WebKit browsers */
    color:    $placeholder_text;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $placeholder_text;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $placeholder_text;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $placeholder_text;
}
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}
$shadows: 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 0px 1px #ddd inset;
$buttonshadows: 0 2px 2px rgba(0, 0, 0, 0.55), 0 0 6px #ddd inset;

header.posts .content_wrap {position: relative;}
.search {float: left; width: 300px; height: 25px; padding-top: 18px; text-transform: uppercase; color: $offwhite; font-weight: 600; letter-spacing: 1px;}

nav#post_nav { float: left; height: 25px; padding-top: 22px; 
ul { list-style: none; margin: 0;
	li#new, li#list, li#home, li#saved {display: inline; padding-right: 15px; color: #A7A9AC; font-weight: 600; text-transform: uppercase; letter-spacing: 1px;
	a {color: $offwhite; 		
		}
	}
 }
}
.post_entry { margin: 0 auto;  }
.post_label { margin: 0 auto;  }

.description_wrap {padding-top: 15px;}
.post_label label, .description_label {  color: $mediumgray; font-size: 1em; font-weight: 600; margin: 6px 0; text-transform: uppercase;}

//POST FORM
.post_entry textarea, .post_entry input {width: 255px; border:none; background: #F7F8F9; color: #ADB8BF; height: 19px; margin: 0; border-radius: 0; font-family: $brandon; letter-spacing: 0; font-size: .9em;}

input#post_codetype {height: 20px; margin-left: 35px; width: 150px; background: none; width: 150px; margin-bottom: 0; border: 0; border-radius: 0px 0px; box-shadow: none; border-bottom: solid 1px $mediumgray;}
.post_entry.code textarea {width: 300px; display: block; margin: 0px auto; background: #656666; float: left;}
section.post_attributes {background: $lightblue; padding-top: 45px; padding-bottom: 30px;}
form#new_post input:focus, form#new_post textarea:focus {box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(255, 255, 255, 0.3); background: $offwhite;}
section.snippet_wrap { margin-top: 30px;}
.snippet_form {width: 739px;}
h5.code_area {font-size: 1em; text-transform: uppercase; color: $mediumgray; margin: 30px 0 0; font-family: $proxima; font-weight: 400;}
section.batches.form {margin-top: 0;}

//New Post Styles
.column {width: 340px; float: left; }
.column.left {margin-right: 10px; }
.form_wrap {float: left; width: 340px; height: auto; margin: 15px 0 15px 0; }
.post_entry.code {margin-top: 0px; width: 340px; height: 300px; min-height: 350px; display: none; float: left;}
.post_entry.code .ace_editor {min-height: 350px; height: 350px; width: 315px; max-width: 315px; min-width: 315px; border: 1px solid #E6E7E8;}
p.post_heading { @include gradient(hsl(240, 1%, 97%), hsl(208, 2%, 94%), 30px); position: relative; text-transform: uppercase; width: 315px; padding: 4px 0; margin-bottom: 0; text-indent: 5px; border: 1px solid #E6E7E8; color: $label_blue; font-size: 1.05em; font-weight: 400; border-radius: 2px;
&:hover { @include gradient(hsl(240, 1%, 97%), hsl(208, 3%, 91%), 30px); @include transition( top 0.8s ease-out, background .9s .5s ease-out); cursor: pointer; 
    }
  }
p.post_heading.active { @include gradient(hsl(240, 1%, 97%), hsl(208, 3%, 91%), 30px);}
.clear {clear:both;}

//Editor Styles
.post_content .ace_editor .ace_gutter-layer, .post_entry.code .ace_editor .ace_gutter-layer { border-right: solid 1px #E6E7E8;}
.post_content .ace_editor.ace-tm .ace_gutter, .post_content .ace_editor.ace-solarized-light .ace_gutter, .post_entry.code .ace_editor.ace-tm .ace_gutter, .post_entry.code .ace_editor.ace-solarized-light .ace_gutter { background-color: #F3F3F3;}
.post_content .ace_editor.ace-solarized-light .ace_scroller, .post_entry.code .ace_editor.ace-solarized-light .ace_scroller, .post_content .ace_editor .ace-tm .ace_scroller, .post_content .ace-tm .ace_scroller {background-color: #494F57;} 
.post_content .ace_editor.ace-solarized-light .ace_marker-layer .ace_active-line, .post_entry.code .ace_editor.ace-solarized-light .ace_marker-layer .ace_active-line {background: none; border-bottom: dotted 1px #ddd;}

.post_content .ace-solarized-dark .ace_gutter {background: #fff; color: $lightgray;}
.post_content .ace-solarized-dark .ace_gutter-active-line {background: $lightblue;}

.description_content {background: #F7F8F9; width: 250px; padding: 3px; color: #ADB8BF; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;}
//SHOW FORM
.display_form {width: 739px; padding-top: 20px;}
p.post_heading.long {width: 330px;}
.post_content {font-family: $code; font-size: 1.1em; padding: 15px 5px; width: 350px; height: 300px; float: left; margin-bottom: 30px;}
.post_content .ace_editor {width: 330px; height: 300px; min-height: 300px; min-width: 330px; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);}
//buttonpadding

.actions input {padding: $buttonpadding; background: $greenbutton; font-family: $brandon; font-size: 1.2em; margin-top: 20px; text-transform: uppercase; color: #fff; letter-spacing: 1px; font-weight: 600;}

// Search Form

 .search input[type="image"] {display: none; margin: 0; padding: 0 0 10px 5px; margin: 0 3px; border-radius: 2px;}

.search input#search:hover {cursor: pointer;}
.search input#search {color: $offwhite; border-bottom: none;}
 .search input#search::-webkit-input-placeholder {
    color:    $offwhite; font-family: $brandon; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; }
.search input#search:-moz-placeholder {
    color:    $offwhite; font-family: $brandon; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; }
.search input#search::-moz-placeholder   {
    color:    $offwhite; font-family: $brandon; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; }
.search input#search:-ms-input-placeholder {
    color:    $offwhite; font-family: $brandon; font-weight: 600; text-transform: uppercase; letter-spacing: 1px; }

.search input.working[type="submit"] {display: inline-block; background: $greenbutton; color: #fff; font-weight: 600; border: none; font-family: $brandon; font-size: 0.8em; text-transform: uppercase; @include transition(left 0.8s ease-out, all .9s .5s ease-out); }

//Kinda Drunk Layout Change :-/

p.join.preview {text-align: left;  
    a{ color: $offwhite; font-size: 1.2em;
        &:hover { @include transition(all, .6s);

        }
    }
}

//Kinda Drunk Layout Change :-/

.content_wrap.show_page.resized_grid article.snippet {width: 200px; float: left; margin: 20px; }
.content_wrap.show_page.resized_grid .snippet_wrap {padding: 2px; height: 220px;}
.content_wrap.show_page.resized_grid .tag_list {width: 170px; margin: 0 auto;  padding: 10px 3px 10px 3px; border-top: 1px solid #EAEAE5; border-bottom: 1px solid #EAEAE5;}
.content_wrap.show_page.resized_grid .heading {width: 50px; float: none; }
.content_wrap.show_page.resized_grid  .saving {margin-left: 0; top: 195px; left: 10px;}
.content_wrap.show_page.resized_grid .user_wrap {padding:10px 10px 0 10px;} 

//ESCAPE MARGINS
.content_wrap.show_page.resized_grid section.batches .snippet:nth-child(3n+3) {
  margin-right: 0;
}
.content_wrap.show_page.resized_grid section.batches .snippet:nth-child(3n+1) {
  margin-left: 0;
}

//edit region
.edit {width: 100%; margin-top: 10px; clear: both;}
.edit a { background: none; font-size: 1em; text-transform: uppercase; color: $mediumgray; margin: 30px 0 0; font-family: $proxima; font-weight: 400; 
&:hover {text-decoration: none; color: $mediumgray;}
}
.edit.destroy {padding-left: 50px; margin-top: 20px;}

h3.delete {text-align: center; margin-top: 50px; color: $mediumgray;}
body.posts .status a, body.posts .status, body.posts .links a, a, body.user_layout .status a, body.user_layout .status, body.user_layout .links a   {color: #F5F4F1;}
body.devise .status a, body.devise .status, body.devise .links a, a { color: #808285; font-weight: 600;text-transform: uppercase; }
